<?xml version="1.0" encoding="UTF-8"?> 
<!-- 配置Web应用配置文件的根元素，并指定配置文件的Schema信息 -->   
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
    
    <!-- ###项目：包 cn.codehero.jaee.basic.servlet -->    
    <servlet>
        <servlet-name>MyFirstServlet</servlet-name>
        <servlet-class>javaee.basic.servlet.MyFirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyFirstServlet</servlet-name>
        <url-pattern>/servlet/MyFirstServlet</url-pattern>
    </servlet-mapping>
    
    <!--项目：cn.codehero.jaee.basic.servletconfig  servletconfig的使用  -->
    <servlet>
        <servlet-name>ServletConfigTest</servlet-name>
        <servlet-class>javaee.basic.servletconfig.ServletConfigTest</servlet-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>author</param-name>
            <param-value>eleven</param-value>
        </init-param>
    </servlet>
   <servlet-mapping>
        <servlet-name>ServletConfigTest</servlet-name>
        <url-pattern>/ServletConfigTest</url-pattern>
   </servlet-mapping>
</web-app>
